.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    background-color: #59abe3;
}

p::before{
    content:attr(type);
    display: block;
    font-size: 20px;
    color: #115888;
    margin-top: 30px;
}

input{
    width: 200px;
    border: none;
    border-bottom: 2px solid rgb(0, 21, 46);
    background: none;
    color: whitesmoke;
}

input:focus{
    outline: none;
    border-bottom: 3px solid white;
}

.formulario{
    background: rgb(125, 207, 255);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 10px 20px rgb(138, 138, 138);
}

button{
    background: rgb(0, 132, 194);
    padding: 10px 50px; 
    border-radius: 10px;
    color: whitesmoke;
    margin-top: 25px;
}

.centrar-boton{
    display: flex;
    justify-content: center;
}

h2, header {
    color: #115888;
    border-bottom: 2px solid #00243b;
    font-size: 35px;
    margin-bottom: 15px;
}
